.mySkills {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  font-size: 30px;
  font-weight: 400;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 40px 20px 30px 20px;

  p {
    margin: 20px 0 0 0;
  }
}

.skills {
  margin: 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

.skills-container {
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 20px auto;
}


@media only screen and (max-width: 600px) {
  .skills {
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .skills-container {
    width: 100vw;
    border-radius: 20px;
    padding: 15px;
    margin-top: 35px;
  }
  .skillbar-percent {
    position: absolute;
    right: 10px !important;
  }
}

.skillbar-percent {
  color: black !important;
}

.skillbar-title span:first-child {
  background-color: #2d4e68 !important;
  border: 1px solid black !important;

}

.skillbar-bar {
  background-color: grey !important;
}

.skillbar {
  background-color: lightgrey !important;
}



